<%- layout('./layout/boilerplate') %>

<header>
    <%- include('./partials/navbar') %>
    <video class="mx-auto video-bg" preload="true" autoplay="true" muted loop>
        <source src="/assets/ver-glitter_vid.mp4" type="video/mp4">
    </video>
</header>
<div class="brands-section container py-5">
    <!-- <h6>Presented brands: <%= brands.length %></h6> -->
    <div class="d-flex justify-content-center justify-content-sm-between flex-wrap mt-3">
        <% for (let brand of brands) { %>
            <div class="col-9 col-sm-5 col-lg-3 mx-1 brand-block text-center">
                <div class="brand-pic">
                    <a href="/brands/<%= brand.short %>">
                        <img src="<%= brand.imageUrl %>" alt="«<%= brand.name %>» logotype">
                    </a>
                </div>
                <div class="brand-name">
                    <a class="d-block" href="/brands/<%= brand.name %>"><%= brand.name %></a>
                </div>
            </div>
        <% } %>
    </div>
</div>